/test/Project1/target/
/JavaFX/JavaApplication1/nbproject/private/
/JavaFX/JavaApplication1/build/
/JavaFX/NewJFX/JFX/nbproject/private/
/JavaFX/NewJFX/JFX/build/
/testMavenJFX/GUI/target/
/testMavenJFX/MavenJFX/target/
/MVJFX/testGui/target/
